
<div class="container">
  <div id='viewport' class='grad'>
    <canvas id='board'></canvas>
  </div>

  <h1>
    <span class="headingBold"> Conway's </span> <span class="headingItalic">  GAME OF LIFE  </span> <span class="tm">TM</span>
  </h1>

  <footer>
    <a href="http://trostli.net">trostli.net</a>
  </footer>
</div>
