<html>
<head>
	<meta charset="UTF-8">
	<title>The Game of Life - JS Edition</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <%= yield %>

</body>



  <script type="text/javascript" src="javascripts/underscore.js"></script>
  <script type="text/javascript" src="javascripts/game.js"></script>
  <script type="text/javascript" src="javascripts/drawCells.js"></script>
</html>
