<html>
<head>
	<meta charset="UTF-8">
	<title>The APP</title>
  <script type="text/javascript" src="javascripts/game.js"></script>
  <script type="text/javascript" src="javascripts/underscore.js"></script>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<%= yield %>

</body>
</html>
