#board {
  background-color:rgba(255,0,0,0);
  opacity: 1;
  border-width:2px;

  transform: rotate3d(1,0,0,25deg);
  -moz-transform: rotate3d(1,0,0,25deg);
  -ms-transform: rotate3d(1,10,0,25deg);
  -o-transform: rotate3d(1,0,0,25deg);
  -webkit-transform: rotate3d(1,0,0,25deg);
  }

body {
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 150%;
            perspective: 200px;
            -moz-perspective: 200px;
            -ms-perspective: 200px;
            -o-perspective: 200px;
            -webkit-perspective: 200px;

            transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;


}

footer {
  font-family: 'Source Sans Pro';
  font-size: 20px;
}

.grad {
  background: rgb(230,240,163);
  background: -moz-linear-gradient(top,  rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,240,163,1)), color-stop(50%,rgba(210,230,56,1)), color-stop(51%,rgba(195,216,37,1)), color-stop(100%,rgba(219,240,67,1)));
  background: -webkit-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%);
  background: -o-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%);
  background: -ms-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%);
  background: linear-gradient(to bottom,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 );
}